@font-face {
    font-family: "Lexend";
    src: url("../src/Lexend-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url("../src/bgr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 100svw;
    overflow: hidden;
    color: white;
    font-family: 'Lexend', sans-serif !important;
}



section.frm {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    color: whitesmoke;
    max-width: min(600px, 90%);
    width: fit-content;
    min-width: 300px;
}

.frm>h1,
.frm>h4 {
    text-align: center;
    font-size: x-large;
}


.frm .countdown {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.5ch;
    justify-content: center;
}

.frm .countdown .timecard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    border: 1px solid whitesmoke;
    padding: 1rem .8rem;
}

.timecard::after {
    font-size: medium;
    border-top: 1px solid rgba(245, 245, 245, 0.5);
    width: 100%;
    text-align: center;
}


.timecard#days::after {
    content: "ngày";
}

.timecard#hours::after {
    content: "giờ";
}

.timecard#minutes::after {
    content: "phút";
}

.timecard#secondes::after {
    content: "giây";
}

.frm .inp {
    position: relative;
    padding: .5lh 1ch;
    border: none;
    outline: none;
    border-radius: .5ch;
    font-size: large;
}

.frm textarea {
    font-family: 'Lexend', sans-serif;
    min-height: 4lh;
    min-width: 100%;
    height: 4lh;
}

.frm .lbl {
    position: relative;
    transform: translateY(.3lh);
    font-size: medium;
}

.frmCtrls {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-top: 1lh;
}

.frm .btn {
    position: relative;
    padding: .5lh;
    width: 45%;
    font-size: medium;
    border: none;
    border-radius: 6px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all ease .5s;
}

.frm .btn.action {
    background-color: #ffffee;
    color: #444;
    font-weight: bold;
}

.frm #btnPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 1.1ch;
}

.frm #btnPlay::after {
    position: relative;
    display: inline-block;
    content: url('../src/btnSlideShow.svg');
    height: 1lh;
    width: 1.5lh;
    scale: 1.24;
    color: #fff;
    transform: perspective(10px) rotateY(-8deg);
    transform-origin: right;
}

.frm .btn:hover {
    border: 1px solid #fff;
    scale: 1.124;
}

#slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 2s;
}

#slideshow div.img {
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: contain;
    opacity: 0;
    margin: auto;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

#wishes-wrapper {
    position: absolute;
    bottom: .2lh;
    width: 90svw;
    max-width: 600px;
    height: 6rem;
    overflow: hidden;
}

.wish-item {
    position: absolute;
    border: 1px solid rgba(245, 245, 245, 0.5);
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: .3rem 1rem .5rem .5rem;
    height: fit-content;
    display: block;
    max-width: 100%;
    min-width: 50%;
    font-size: medium;
    font-weight: 300;
    color: whitesmoke;
    text-wrap: wrap;
    bottom: .5rem;
    transition: all ease 1s;
    z-index: 999;
}

.wish-item.pre {
    bottom: 6rem;
}

.wish-item.next {
    bottom: -6rem;
}

.w-sender {
    position: relative;
    display: block;
    font-size: small;
    font-weight: bold;
    color: white;
}

.w-content {
    position: relative;
    display: block;
    padding: .2rem 0 0 .5rem;
    text-align: justify;
}